Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [13]:
import pandas as pd
#table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
#table[0]

In [16]:
a : int = 7
b : int = 2

print(a + b) #addition
print(a - b) #subtraction
print(a / b)
print( a % 3 /
      + 10)

9
5
3.5
0.1

In [17]:
print(2**2)
print(4**4)

4
256

In [21]:
a : int = 9
a += 11
print(a)
a -= 2
print(a)
a *= 2
print(a)
a //= 6
print(a)
a **=3
print(a)


print(a)

20
18
36
6
216
216

In [27]:
a : int = 9
b : int = 9
print( a == b )
b : int = 8
print ( a == c)

True
False

In [37]:
chr(78)
ord("z")

122

In [39]:
print(True and True and True and True)

False

In [40]:
print(True or True or True)
print(True or False or False )

True
True

In [43]:
name : str = "Muhammad Aqib Khan"
print(not name=="Muhammad Aqib Khan")

False

In [ ]:
x : str = "abc"
z : str = "abc"
print(id(x))
print(id(z))

In [54]:
name : list[str] = ['aqib', "zia ","Sir Inam" ," Qasim" ]
name.list capitalize()
u_input : str = input("Enter your Name")
u_input in name

SyntaxError: invalid syntax (2086321548.py, line 2)