In [9]:
print('logic one')
print("logic two")
l1 : list[int] = [1,2,3]
try:
    print(5/2)
    print(l1[0])
    print(xyz)
except (ZeroDivisionError,IndexError,NameError):
    print("zero division Error")
print("logic 4")
print("logic 5")

logic one
logic two
2.5
1
zero division Error
logic 4
logic 5

In [1]:
print('logic one')
print("logic two")
li : list[int] = [1,2,3]
try:
    print(5/2)
    print(li[0])
    print(xyz)
except (ZeroDivisionError):
    print("zero division Error")
except(IndexError):
    print("IndexError")
except(NameError):
    print("NameError")
except: 
    print("some thing wrong")
print("logic 4")
print("logic 5")

logic one
logic two
2.5
1
NameError
logic 4
logic 5

In [ ]:
try:
    print(age)
    print(li[200])
except Exception as e:
    print(f"Some thing is wrong\n {e}")

In [14]:
class StudentCard():
    def __init__(self, roll_no: int, name:str,age:int)-> None:
        if age < 18 or age> 60 :
            raise StudentAgeError("your are not Eligible for this program")
        self.roll_no = roll_no
        self.name = name
        self.age = age
        
            
class StudentAgeError(Exception):
    pass

student1 = StudentCard(1,"aqib khan",30)

print(student1.name,student1.roll_no,student1.age)

aqib khan 1 30

In [15]:
student1 = StudentCard(1,"aqib khan",61)

print(student1.name,student1.roll_no,student1.age)

StudentAgeError: your are not Eligible for this program

In [5]:
open('./abc.txt')

In [8]:
from typing import TextIO
data :TextIO = open('./abc.txt')
print(data.read())

# [i for i in dir(data) if "__" not in i]

In [9]:
from typing import TextIO
data :TextIO = open('./abc.txt')
print(data.read())

data.close()

line1
line2
line3
line4
line5
line6

In [21]:

with open('./abc.txt',"r") as file :
    try:
        print(file.read())
        file.write("pakistan Zindabad")
    except:
        print("Your have no acess to write or edit")

line1
line2
line3
line4

Your have no acess to write or edit

In [29]:
import pandas as pd
df : pd.DataFrame = pd.read_csv("./data.csv")
df

   id       name   education
0   1  aqib khan  Graduation
1   2  Amir Khan      Master
2   3    Sir Zia      Master

In [35]:
import pandas as pd
df : pd.DataFrame = pd.read_excel("Islamic Studies.xlsx")
df

,UNIVERSITY OF OKARA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Department of Bioinformatics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Assessment /Result Sheet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Programme Name:,BS (HONS) Bioinformatics,NaN,NaN,NaN,Semester: 1st,NaN,NaN,NaN,Session: 2021-2025,NaN,NaN
3,Course Title:,Islamic Studies,NaN,NaN,NaN,Course Code : CS-101,NaN,NaN,NaN,Credit Hours:,NaN,2+1=3
4,Campus Roll No.,Student Name,Formative Assesment(40 %),NaN,NaN,NaN,NaN,SummativeTest (50 %),Marks Obtained(100%),Grade Point,Grade Letter,Remarks
5,NaN,NaN,MidTerm Test (30%),Class Presentation (10 %),Assignment (8 %),Attendance (2 %),Total Formative(50 %),NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,F23-BSBIOINFO-1001,Khadijah Tubassam,26,8,7,2,43,43,86,3.8,A,PASS
8,F23-BSBIOINFO-1002,Maryam Younas,27,8,7,2,44,44,88,3.9,A,PASS
9,F23-BSBIOINFO-1003,Feroza Ghazanfer,27,8,7,2,44,42,86,3.8,A,PASS
10,F23-BSBIOINFO-1004,Laiba Hashmi,28,9,7,2,46,42,88,3.9,A,PASS
11,F23-BSBIOINFO-1005,Muhammad Aqib Khan,27,8,7,2,44,45,89,3.95,A,PASS
12,F23-BSBIOINFO-1006,Taha Rasool,27,7,7,2,43,42,85,3.75,A,PASS
13,F23-BSBIOINFO-1007,Muhammad Yaseen Ijaz,23,7,7,2,39,42,81,3.55,A,PASS
14,F23-BSBIOINFO-1008,Mahum Ashfaq,24,8,7,2,41,41,82,3.6,A,PASS
15,F23-BSBIOINFO-1009,Ahmad Siraj,25,7,7,2,41,36,77,3.35,B,PASS
16,F23-BSBIOINFO-1010,Eman Shezadi,25,8,7,2,42,40,82,3.6,A,PASS
17,F23-BSBIOINFO-1011,Kashaf Eman,26,9,7,2,44,44,88,3.9,A,PASS
18,F23-BSBIOINFO-1012,Zunaira Faqeer Hussain,25,8,7,2,42,41,80,3.5,A,PASS
19,F23-BSBIOINFO-1013,Abdul Rehman,24,8,7,2,41,35,76,3.3,B,PASS
20,F23-BSBIOINFO-1014,Hamna Nadeem,25,8,7,2,42,43,85,3.75,A,PASS
21,F23-BSBIOINFO-1015,Mahum Noor,26,8,7,2,43,40,83,3.65,A,PASS
22,F23-BSBIOINFO-1016,Hifza Jabeen,23,8,7,2,40,41,81,3.55,A,PASS
23,F23-BSBIOINFO-1017,Amina Mubashar,27,8,7,2,44,43,87,3.85,A,PASS
24,F23-BSBIOINFO-1018,Muhammad Amir Hanif,25,8,7,2,42,42,84,3.7,A,PASS
25,F23-BSBIOINFO-1019,Ayesha Bano,26,8,7,2,43,41,84,3.7,A,PASS
26,F23-BSBIOINFO-1020,Mudasir Aziz,26,8,7,2,43,41,84,3.7,A,PASS
27,F23-BSBIOINFO-1021,Fatima Mubashar,24,8,7,2,41,42,83,3.65,A,PASS
28,F23-BSBIOINFO-1022,Muhammad Usman,24,8,7,2,41,40,81,3.55,A,PASS
29,F23-BSBIOINFO-1023,Minahil Shoukat,NaN,NaN,NaN,NaN,0,NaN,0,0,F,Fail
30,Teacher Name: _________________,NaN,NaN,NaN,Signature: ____________________________,NaN,NaN,NaN,NaN,Date: ______,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Incharge Internal Examinations: ______________...,NaN,NaN,NaN,Signature: ____________________________,NaN,NaN,NaN,NaN,Date: ______,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Chairperson / HoD: ___________________________...,NaN,NaN,NaN,Signature: ____________________________,NaN,NaN,NaN,NaN,Date: ______,NaN,NaN