#String Data Type in Python

In [3]:
#boundries
# "string text " ,'string text' ,'''string text ''' , """string """

name : str = "Muhammad aqib Khan"
print(type(name))
print(name)

<class 'str'>

In [48]:
#boundries
# "string text " ,'string text' ,'''string text ''' , """string """

name : str = "Muhammad aqib Khan"
f_name : str = "Muhammad Khan"
education : str = "Master In Data Science"
age : int = 30

card : str = "PIAIC Student Card \nStudent Name:" + name + "\nAge:" + str(age) +"\neducation:" +education
print(card)

PIAIC Student Card
Student Name:Muhammad aqib Khan
Age:30
education:Master In Data Science

# Define Multiline string """ """

In [52]:
name : str = "Muhammad aqib Khan"
f_name : str = "Muhammad Khan"
education : str = "Master In Data Science"
age : int = 30

card : str = f"""
Piaic Student Card 
Student Name : {name}
Father Name : {f_name}
Age : {age}
Education :{education}
 

"""
print ( card)

Piaic Student Card
Student Name : Muhammad aqib Khan
Father Name : Muhammad Khan
Age : 30
Education :Master In Data Science

In [56]:
[i for i in dir (str) if "__"not in  i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
name : str = 'MuHHammAd AQiB KhAN'
print(name.capitalize())
print(name.upper())

Muhhammad aqib khan
MUHHAMMAD AQIB KHAN

In [16]:
a = 7
b = 9
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 9'

In [17]:
name : str = "Muhammad aqib Khan"
f_name : str = "Muhammad Khan"
education : str = "Master In Data Science"
age : int = 30

card : str = """
Piaic Student Card 
Student Name : {}
Father Name : {}
Age : {}
Education :{}
 """.format(name , f_name, education, age)
print ( card)

Piaic Student Card
Student Name : Muhammad aqib Khan
Father Name : Muhammad Khan
Age : Master In Data Science
Education :30