In [2]:
names : list [str] = ["Sir Zia ", "Muhammad Aqib Khan","Muhammad Qasim"]
print(names)

['Sir Zia ', 'Muhammad Aqib Khan', 'Muhammad Qasim']

In [3]:
names : list [str] = ["Sir Zia ", "Muhammad Aqib Khan","Muhammad Qasim"]
for name in names :
    print(name)

Sir Zia
Muhammad Aqib Khan
Muhammad Qasim

In [4]:
for name in names :
    print(f'welcome Dear {name.title()}')

welcome Dear Sir Zia
welcome Dear Muhammad Aqib Khan
welcome Dear Muhammad Qasim

In [9]:
for name in names :
    print(f'welcome Dear {name.title()}')
    print("Piaic generate Team \n")
print("pakistan Zindabad")

welcome Dear Sir Zia
Piaic generate Team

welcome Dear Muhammad Aqib Khan
Piaic generate Team

welcome Dear Muhammad Qasim
Piaic generate Team

pakistan Zindabad

In [10]:
data_base : list[tuple[str,str]] = [("aqib","123"),
                                    ("usman","345"),
                                    ("haider","678")]
for row in data_base:
    print(row)

('aqib', '123')
('usman', '345')
('haider', '678')

In [17]:
input_user : str = input("Enter user name")
input_password : str = input("Enter Your Password") 


for row in data_base :
    user , password = row
    if input_user == user and input_password == password :
        print("valid User ")
        break
else:
    print("No user found")

No user found

In [18]:
range(10)

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(59,65))

[59, 60, 61, 62, 63, 64]

In [31]:
                #    name       name    name    name       name
                #    index    0        1        2       3          4
names : list[str] = ["aqib" , " Amir" ,"Tayyab","hammad","Faisal"]

for index ,name in enumerate(names) :
    print (name, index)

aqib 0
 Amir 1
Tayyab 2
hammad 3
Faisal 4

In [44]:

for n in range(1,11) :
    print(f"{2} X {n} = {n * 2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [45]:

for n in range(1,11) :
    print(n)

1
2
3
4
5
6
7
8
9
10

In [46]:
squares : list[int] = []
for value in range(1,11) :
    square = value **2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

TypeError: unsupported operand type(s) for *: 'int' and 'method'

In [ ]:
a :